.cartas{
    border: 1px solid black; 
    width: 150px;
    background-color: gray;
    margin: 5px;
}

.activo{
    background-color: yellow;
}

#cambia{
    
    float: left;
}

#panel{
    height: 50%;
    width: 100%;
    float: left;
}

.adivinar{
    background-color: lightblue;
    border: 1px solid black;
    width: 20px;
    margin: 5px;
    height: 25px;
    float: left;
}