.cartas{
    border: 1px solid black; 
    width: 150px;
    background-color: gray;
    margin: 70px;
    margin-bottom: -5px;
    display: inline-block;
    bottom: 0px;
}

.activo{
    background-color: yellow;
}


#cambia{
    width: 100%;
    float: left;
    text-align: center;
}

#panel{
    height: 50%;
    width: 100%;
    float: left;
}

.adivinar{
    background-color: lightblue;
    border: 1px solid black;
    width: 20px;
    margin: 5px;
    height: 25px;
    float: left;
    text-align: center;
}

.letras{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    margin: 2px;
}

#juego{
    float: left;
    width: 500px;
}